.body-wrapper {
    padding: 20px;
}

.form-center {
    margin: 0 auto;
    width: 200px;
}

.form-field {
    margin-bottom: 15px;
}

.form-label {
    margin-right: 10px;
}

input {
    padding-block: 6px;
    margin-block: 6px;
    padding-inline: 6px;
}
.form-title {
    text-align: center;
    background-color: #3d6070;
    color: white;
    padding: 5px;
}
.submit-field {
    text-align: center
}